
<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portfolio</title>
    <link rel="stylesheet" href="~/css/output.css" />
</head>
<body class="font-sans bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-200">
    @RenderBody()
    <script src="~/js/theme.js"></script>
</body>
</html>
